# On-Join Verification
*draft, messy, consent not yet acquired*

Fow now, we have a
[Discord bot](https://Society-of-the-Cyan-Rose/cyan-rose-discord-bot)
in development that will DM the applicant and ask them a few questions.
The members (or admins?) of the Society will review their
answers to determine if they should be allowed to join.

Without further ado, here are the questions...

 - **Name**: It's obviously important to have something to call a person.
 - **Birthday/Age Range**: This can affect what a person is legally allowed to
   do, plus it might allow us to celebrate each other's birthdays if we want to.
 - **Reason for Joining**: This will help us know what the person.
 - **Political Leaning**: This refers to a person's actual ideology and aims,
   not a party they support. It's good to know where our fundamental
   disagreements lie so we can more easily have productive conversations.
