## On-Join Verification
*draft, messy, consent not yet acquired*

Using an Application Form, we can ask a set of questions to each user attempting
to join. These questions will be sent to moderation for review. We can use this
as a first net to catch anyone with ill-intentions. 

The following questions will be used:

Age :: How old are you? :: 13+ :: required
>> anyone outside of that range will be denied entry.

Reason-Of-Join :: Why do you want to join? :: 1000 characters :: required

How would we know what is a bad and good answer? i don't want this left to
"feeling" annd in the moment, I would much rather have a clear defintiion of 
what is and is not allowed.. not everyone will be truthful and we
should ahve some protcol. 

anyway, that's the point of not counting people's consensus in the default
consensus rule until they've been a member for a certain time.
maybe we can apply something similar to other privileges such as being allowed
to directly upload content.
So as time goes on, they get more ser permissions? there 
s something like that
on one of the you get more and more permissions. Maybe after 600 messages or som
ething they can servers i use commonly where with activity, the amount of mess-
ages you send 


e would have some pretty ballers spam protection...ade  I mean there are bots 
out there and I am a bot developer myself, I have m
they can spam though, it probably shouldn't be automatedd for that reason
unless we have anti-spam setting on a bot or smth

Aw fuck i have class o7

please have a good time I will elave this text here for later, we should chat more once I am

the icon for my vscode disappeared and is now default icon,
should i be concerned?

kake

(bot i currently plan to use is MewDeko)

maybe not time necessarily, it could  just be based on how much we trust them

is it my internet or yours it's laggin pretty bad

 not sure. maybe what they want to join foIt's probably mine to be fair I am in school conntected to my altop at home
via a tunnel which is then connected to your computer/.... so mostly me.r.
we dont need to explicitly ask their skillss,
just direct them to the reaction roles
